body {
  display: grid;
  margin: 0;
  overflow: hidden;
  background-color: #fff5e1;
}

#title {
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  color: #d9534f;
}

h1 {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}

text {
  font-family: Helvetica, Arial, sans-serif, "Twemoji Country Flags";
  font-size: 11px;
  pointer-events: none;
}

.rodaroda {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#chart {
  width: 500px;
  height: auto;
}

#question {
  transform: translate(auto, auto);
  color: #5d4037;
  text-align: center;
  align-self: center;
  margin-left: 2rem;
}

#question h1 {
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif,
    "Twemoji Country Flags";
  -webkit-transform: translate(auto, auto);
  transform: translate(auto, auto);
  text-align: center;
}